.login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  height: 100vh;
  overflow: hidden;
}
.login_inner {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  height: 75%;
  width: 60%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 7px 30px 0px;
}
.login_right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  /* border: 2px solid grey; */
}

.login-right_bg {
  border-radius: 50px 0px 50px 0px;
  height: 85%;
  width: 80%;
  background: linear-gradient(var(--color-primary), transparent);
  position: absolute;
  left: 5%;
  bottom: 5%;
  /* transform: translateX(-50%); */
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.login-right_top {
  border-radius: 50px 0px 50px 0px;
  height: 85%;
  width: 80%;
  background: linear-gradient(
    var(--color-primary-variant),
    var(--color-secondary-variant),
    var(--color-secondary)
  );
  position: absolute;
  /* left: 5%; */
  /* transform: translateX(-50%); */
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.login_left {
  border-radius: 50px 0px 50px 0px;
  height: 65%;
  width: 40%;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 7px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_left-inner {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  height: 80%;
  width: 80%;
}

.login_profiles{
    border: 5px solid var(--color-secondary-variant);
    border-radius: 50%;
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    background-color: var(--color-primary);
}
.login-profile_img{
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.login-profile_img:hover{
  opacity: 0.3;
  cursor: pointer;
  transition:all 450ms ease-in;
}
.login_title{
  width: 10rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: small;
  font-weight: 100;
  /* border: 2px solid red; */
}
h3{
  color: grey;
}